<div class="container-sign-in">
    <div class="message-container"
            *ngIf="message" [innerText]="message"></div>

    <form [formGroup]="userForm"
          #form="ngForm"
          novalidate
          (ngSubmit)="submitForm()">

        <div [class]="'form-group'+ (emailField.errors && emailField.errors.message ? 'has-danger' : '')">
            <label for="Email"
                   class="form-control-label">Email:</label>

            <input type="email"
                   class="form-control"
                   id="Email"
                   #emailField
                   placeholder="email"
                   formControlName="email">

            <div *ngIf="emailField.errors && emailField.errors.message"
                 class="invalid-feedback form-control-feedback">
                <div [innerText]="emailField.errors.message"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label"
                   for="Password">Password:</label>

            <div class="wrap-input">
                <input type="password"
                       class="form-control"
                       id="Password"
                       show-hide-input
                       placeholder="password"
                       formControlName="password">
                <a routerLink=""
                   class="change-type"
                   (click)="toggleShow($event)"><fa-icon [icon]="faEye"></fa-icon></a>
            </div>

            <!--<div class="form-control-feedback" [innerText]="userForm.valid"></div>-->
        </div>

        <div class="is-remind-password small">
            Если вы забыли свой пароль, вы можете
            <a routerLink=""
               (click)="remindPassword()"
               class="under-line">восстановить его</a>.
        </div>

        <div class="text-center">
            <button class="btn btn-primary btn-sm"
                    [disabled]="form.pristine || form.invalid"
                    type="submit">Вхід</button>
        </div>
    </form>
</div>