<div id="contacts" class="list-contacts">
  <div class="group-btn contact-bar d-flex w-100">
    <button (click)="onAddChat()"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Add chat</span></button>
    <!--<button (click)="onAddContact()"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add chat</span></button>-->
  </div>
  <ul>
    <li
        #li
        *ngFor="let room of listOfRoom"
        [attr.data-role]="room.getInvite()"
        (click)="onOpenContact(room)"
        class="contact">

      <div class="wrap d-flex flex-row">
        <!--<span class="contact-status online"></span>-->
        <!--<img [src]="room.getPicture()" alt="">-->
        <div class="avatar"
             [innerHTML]="room.getPicture()"></div>

        <div class="meta">
          <p class="name"
            [innerText]="room.getTitle()"></p>
          <p class="preview" [innerText]="room.getStatusOwner()"></p>
        </div>
      </div>
    </li>
    <!--<li class="contact active">-->
      <!--<div class="wrap">-->
        <!--<span class="contact-status busy"></span>-->
        <!--<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="">-->
        <!--<div class="meta">-->
          <!--<p class="name">Harvey Specter</p>-->
          <!--<p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->
  </ul>
</div>