<div class="modal-header">
    <div class="tab-title d-flex justify-content-between flex-row w-100">
        <div class="d-flex item"
             [ngClass]="isSignIn() ? 'active' : ''"
             (click)="openTab(CurrentPanel.SignIn)">
            Авторизація
        </div>
        <div class="d-flex item"
             [ngClass]="isCheckIn() ? 'active' : ''"
             (click)="openTab(CurrentPanel.CheckIn)">
            Реєстрація
        </div>
    </div>
</div>
<div class="modal-body">
    <sign-in *ngIf="isSignIn()"></sign-in>
    <check-in *ngIf="isCheckIn()"
              (openSignInTab)="openSignInTab($event)"></check-in>
</div>