<div class="modal-header">
    <div class="d-flex justify-content-between flex-row w-100">
        <div class="d-flex"
             (click)="openTab(CurrentPanel.SignIn)">
            Авторизація
        </div>
        <div class="d-flex"
             (click)="openTab(CurrentPanel.CheckIn)">
            Реєстрація
        </div>
    </div>
</div>
<div class="modal-body">
    <sign-in *ngIf="mode == CurrentPanel.SignIn"></sign-in>
    <check-in *ngIf="mode == CurrentPanel.CheckIn"></check-in>
</div>