<div class="container-messages align-items-end d-flex messages">
    <div class=""
        *ngIf="listOfMessage.message">
        <ul>
            <!--<li class="sent">-->
                <!--<img src="http://emilcarlsson.se/assets/mikeross.png" alt="">-->
                <!--<p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>-->
            <!--</li>-->
            <li
                [ngClass]="message.owner_id == authService.getUser().getId() ? 'replies' : 'sent'"
                *ngFor="let message of listOfMessage.message">
                <div class="avatar"
                    [innerHtml]="room.getUserById(message.owner_id).getPicture()"></div>
                <p [innerHtml]="message.description"></p>
            </li>
        </ul>
    </div>

    <div class="invite-container d-flex"
        *ngIf="invited">
        <ul>
            <li class="d-flex flex-column invite justify-content-center w-100">
                <div class="avatar"
                        [innerHtml]="invited.getPicture()"></div>

                <p [innerHtml]="invited.getDescription()"></p>
                <div class="btn-group">
                    <button (click)="onSetReply(true)"
                            class="btn btn-primary">Agree</button>
                    <!--<button (click)="onSetReply(false)"-->
                            <!--class="btn btn-default">Disagree</button>-->
                </div>
            </li>
        </ul>
    </div>
</div>