<section id="container" class="">

  <!--header start-->
  <header class="header fixed-top">
    <div class="navbar-header">
      <!--logo-->
      <div class="brand ">
          <a class="" href="javascript:void(0)" >Chat - rooms</a>
      </div>
      <!--logo end-->
      <div class="top-nav hr-top-nav element" data-type="user_menu">
        <ul class="nav pull-right top-menu">
          <!--li>
              <input type="text" class="form-control search" placeholder=" Search">
          </li-->
          <!-- user login dropdown start-->
          <li class="dropdown element" data-type="main_top_profile_menu_user">
            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
              <span class="list-view-avatar" style="background-image: url(/file?id=723&amp;size=32);"></span>						<span class="username">Роик Александр</span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <li>
                <a class="ajax_content_reload" data-action_key="200451015452" href="javascript:void(0)"><i class=" fa fa-suitcase"></i> Профиль</a>
              </li>
              <li>
                <a class="ajax_content_reload" data-action_key="200451016753" href="javascript:void(0)"><i class="fa fa-cog"></i> Настройки </a>
              </li>
              <li><a href="/logout"><i class="fa fa-key"></i> Выход</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>

</section>