<div class="container-fluid">
    <div class="row section-title top-nav">
        <div class="container">
            <div class="col-sm-12">
                <a class="navbar-brand">ChatRoom</a>
                <!--<img src="http://emilcarlsson.se/assets/harveyspecter.png" class="avatar" alt="">-->
                <!--<p>Guest</p>-->
                <!--<div class="social-media">-->
                <!--<i class="fa fa-facebook" aria-hidden="true"></i>-->
                <!--<i class="fa fa-twitter" aria-hidden="true"></i>-->
                <!--<i class="fa fa-instagram" aria-hidden="true"></i>-->
                <!--</div>-->

                <auth-panel></auth-panel>
            </div>
        </div>
    </div>
    <div class="row section-body">
        <div class="container">

            <div class="col-sm-12">
                <div class="home-instruction">
                    <span class="title">Welcome</span>
                    <p>Log in to continue.</p>
                    <p>Next all the most interesting ...</p>
                </div>
            </div>
        </div>
    </div>
</div>