.top-menu{
  .private-panel{
    .avatar{
      width: 32px;
      height: 32px;
      float: left;
      font-size: 60%;
    }
  }
}

.nav-link{
  display: flex;
  align-items: center;
  .text{
    padding-left: 10px;
  }
}