<ul class="nav pull-right top-menu">
  <li class="dropdown">
    <div *ngIf="mode == StatusAuthorizated.Guest">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">Guest</a>
      <div class="dropdown-menu">
        <a class="dropdown-item"
           (click)="openModal('authentication')"
           href="javascript:void(0)">Авторизуйтесь</a>
      </div>
    </div>

    <div *ngIf="mode == StatusAuthorizated.Auth">
      <a class="nav-link dropdown-toggle"
         [innerText]=""
         data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </li>
</ul>



