<div id="modal-container">

    <modal id="authentication">
        <div class="modal"
             (click)="closeModal($event, 'authentication')">
            <div class="modal-wrapper auth-container">
                <button class="close-icon"
                        (click)="closeModal('authentication');"> <fa-icon [icon]="faTimes"></fa-icon></button>

                <authentication-dialog></authentication-dialog>

            </div>
        </div>
        <div class="modal-background"></div>
    </modal>

    <modal id="RemindPassword">
        <div class="modal"
             (click)="closeModal($event, 'RemindPassword')">
            <div class="modal-wrapper remind-password">
                <button class="close-icon"
                        (click)="closeModal('RemindPassword');"> <fa-icon [icon]="faTimes"></fa-icon></button>

                <remind-password-dialog></remind-password-dialog>

            </div>
        </div>
        <div class="modal-background"></div>
    </modal>

    <modal [id]="modelDialog.TYPE_CREATE_ROOM">
        <div class="modal"
             (click)="closeModal($event, modelDialog.TYPE_CREATE_ROOM)">
            <div class="modal-wrapper remind-password">
                <button class="close-icon"
                        (click)="closeModal(null, modelDialog.TYPE_CREATE_ROOM)"> <fa-icon [icon]="faTimes"></fa-icon></button>

                <room-dialog></room-dialog>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>
</div>