
.profile-form{
  .upload-file{
    margin-bottom: 10px;
  }
  .profile-buttons{
    max-width: 150px;
    margin: 0 auto;
  }
  input{
    width: 100%!important;
  }
}

.upload-file{
  display: flex;
  justify-content: center;
  input[type="file"]{
    display: none!important;
  }
}